<div class="my-login-body">
    <div class="my-login-wrapper">
        <div class="my-login-card">
            <div class="my-panel-1">
                <img src="../../assets/images/login-img.png" alt="">
            </div>
            <div class="my-panel-2">
                    <img src="../../assets/images/logo.png" class="logo" alt="">
                <div class="my-login-form">
                    <h2>ເຂົ້າສູ່ລະບົບ</h2>
                    <div class="input-group">
                        <i class="pi pi-user"></i>
                        <input pInputText id="email" placeholder="Enter E-mail" type="email" />
                        <span class="focus-border"></span>
                    </div>
                    <div class="input-group">
                        <i class="pi pi-lock"></i>
                        <input pPassword id="password" placeholder="Enter Password" type="password" />
                        <span class="focus-border"></span>
                    </div>
                    <button [routerLink]="['/module/admin']" pButton label="ເຂົ້າສູ່ລະບົບ" type="button" class="my-button" ></button>
                    <button [routerLink]="['/']" pButton label="ກັບຄືນ" type="button" class="p-button-danger" ></button>
                </div>
            </div>
        </div>
    </div>
</div>